html{
    font-size: 10px;
    font-family: 'PT Serif', serif;
}
@media (max-width: 680px){
    html {
        font-size: 7px;
    }
    .logoBox {
        width: 150px;
        height: 90px;
    }
}
body {
    height: 100vh;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 95%;
}
  
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
}
a {
    color: inherit;
}
.logoBox {
    width: 250px;
    height: 150px;
    margin-top: 0px;
}

.logoBox img {
    width: 100%;
}

.main {
    text-align: center;
    margin: 20px;
}
.main h4 {
    color: hsl(223.82deg 90.27% 44.31%);
    font-size: 5rem;
    font-weight: 800;
    margin: 0px 10px;
}

.main h5 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
}

.contact {
    margin: 15px auto;
}

.contact h4{
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 1px;
    margin: 10px auto;
}
